h1 {
    color:maroon !important;
}

.posts {
    background-color: blanchedalmond !important;
}

.user{
    font-style: italic !important;
}

h3,h4{
    background-color: blanchedalmond !important;
}